$clr-purple-70: hsl(259, 100%, 65%);
$clr-light-red-70: hsl(0, 100%, 67%);
$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-90: hsl(0, 0%, 94%);
$clr-neutral-80: hsl(0, 0%, 86%);
$clr-neutral-20: hsl(0, 1%, 44%);
$clr-neutral-10: hsl(0, 0%, 8%);
