@import './reset';
@import './variables';
@import './mixins';

:root {
  // Font family
  --ff: 'Poppins', sans-serif;

  // Font sizes
  --fs-base: 12pt;
  --fs-200: 0.8rem;
  --fs-300: 0.9rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 3rem;
  --fs-800: 6rem;

  // Font weights
  --fw-normal: 400;
  --fw-bold: 700;

  // Colors
  --clr-primary: #{$clr-purple-70};
  --clr-warn: #{$clr-light-red-70};
  --clr-white: #{$clr-neutral-100};
  --clr-off-white: #{$clr-neutral-90};
  --clr-light-grey: #{$clr-neutral-80};
  --clr-smokey-grey: #{$clr-neutral-20};
  --clr-off-black: #{$clr-neutral-10};
}

body {
  background-color: var(--clr-off-white);
  color: var(--clr-off-black);
  font-size: var(--fs-base);
  font-family: var(--ff);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input,
textarea,
select,
button {
  color: var(--clr-off-black);
}
